/* Css Test */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #2557a7;
}

.signInForm {
  padding: 40px;
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: 350px;
} 

h2 {
  margin: 10px auto;
  font-size: 1.5rem;
}

input {
  width: 100%;
  padding: 5px;
}

