.signinformspan {
  display: block;
  margin: 10px auto;
}

.signinformsbutton {
  margin-top: 8px;
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.signinformsbutton:hover {
  background-color: #388fb1;
  color: white;
}

.signinformslink, .signinformslink:visited, .signinformslink:hover, .signinformslink:active {
  text-decoration: none; 
  color: inherit;
}