
/* .container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  min-height: 100vh;
}
 */
.signInForm {
  margin-top: 200px; 
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: 350px;
  align-self: center; 
} 

.light {
  background-color: #2557a7; 
  color: #fff;
}

.dark {
  background-color: #2557a7;
  color: #fff; 
}

input {
  width: 100%;
  padding: 5px;
}

