.signinformspan {
  display: block;
  margin: 5px auto;
}

.signinformsbutton {
  margin-top: 8px;
  width: 5rem;
  height: 2rem;
  color: white;
  background-color: #2557a7;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.signinformsbutton:hover {
  background: radial-gradient(circle, #36d1dc, #5b86e5);
  color: black;
}

.signinformslink, .signinformslink:visited, .signinformslink:hover, .signinformslink:active {
  text-decoration: none; 
  color: inherit;
}