.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  font-size: 30px;
  cursor: pointer; 
  background: linear-gradient(45deg, #feb47b, #c43f1e);
  color: white;
  border: none; 
  border-radius: 50%; 
  transition: transform 0.2s ease-out;
}

.button:hover {
  transform: translateY(-5px); 
}
