.pageContainer {
  background-image: url('./../../../images/bg12.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 90vh; 
}

.mainContent {
  padding: 20px; 
  color: #fff; 
}
