.pageContainer {
  background-image: url('./../../../images/bgg.jpg');
  background-size: 100% 780px;
  background-position: center top;
  background-repeat: no-repeat; 
  overflow-x: hidden; 
}

.mainContent {
  padding: 20px;
  color: #fff;
}