.jobitem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background: linear-gradient(45deg, #2f7bdf, #eda36a);
  border-left: 10px solid #efc39f;
  border-radius: 20px;
  margin-top: 40px;
}

.joblogo {
  max-width: 6rem;
  max-height: 3rem;
}

.jobheadline {
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.joblocation {
  margin: 5px;
  color: inherit;
}

.jobdurationtitle {
  margin: 5px;
}

.jobduration {
  margin: 5px;
  position: absolute;
  right: 1.5%;
  top: 35%;
  text-align: center;
}

.jobdescriptiontitle {
  display: block;
  margin-bottom: 5px;
}

.joboccupation {
  margin: 5px;
  color: inherit;
}

.jobemployer {
  margin: 5px;
  color: inherit;
}

.jobdate {
  margin: 5px;
  position: absolute;
  right: 1.5%;
  top: 28%;
}

.jobdescription {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  max-height: 10rem;
  overflow: auto;
  margin-top: 30px;
}

.jobdescription1,
.jobdescription2 {
  font-size: 0.8rem;
}

.jobdescriptiontogglebtn {
  display: block;
  background-color: #2557a7;
  margin-top: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  color: white;
}

.jobdescriptiontogglebtn:hover {
  background: radial-gradient(circle, #36d1dc, #5b86e5);
}

.jobbtn {
  background: none;
  color: inherit;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  right: 3%;
  top: -18%;
  margin-top: 100px;
  cursor: pointer;
}

.applybtn {
  position: absolute;
  right: 1%;
  top: 50%;
  color: #ffffff;
  background-color: #2557a7;
  text-decoration: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

.applybtn:hover {
  background: radial-gradient(circle, #36d1dc, #5b86e5);
}

.applybtnicon {
  padding-right: 8px;
}

@media (max-width: 768px) {
  .applybtn {
    width: 85px;
    height: 30px;
    font-size: 0.6rem;
  }

  .jobheadline {
    font-size: 1rem;
  }

  .jobdescription {
    font-size: 0.8rem;
  }
}
