.jobcontainer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-left: 10px;
}

.jobitem {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-left: 10px solid #2557a7;
  border-radius: 20px; 
}

.joblogo {
  max-width: 6rem;
  max-height: 4rem;
}

.jobheadline {
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.joblocation {
  margin: 5px;
  color: red;
}

.jobdurationtitle {
  margin: 5px;
}

.jobduration {
  margin: 5px;
  position: absolute;
  right: 1.5%;
  top: 33%;
  text-align: center;
}

.jobdescriptiontitle {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.joboccupation {
  margin: 5px;
  color: #2557a7;
}

.jobemployer {
  margin: 5px;
  color: #2557a7;
}

.jobdate {
  margin: 5px;
  position: absolute;
  right: 1.5%;
  top: 28%;
}

.jobdescription {
  width: 45rem;
  max-height: 10rem;
  overflow: auto;
  margin-top: 30px;
}

.jobbtn {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 3%;
  top: -6%;
  margin-top: 100px;
  cursor: pointer;
}

.applybtn {
  position: absolute;
  right: 1%;
  top: 44%;
  color: #ffffff;
  background-color: #2557a7;
  text-decoration: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

.applybtnicon {
  padding-right: 8px;
}