.Jobchaser {
  margin-top: 0; 
  padding: 10px;
  padding-left: 5rem;
  font-family: "Charm", cursive;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  background-color: #2557a7;
  border-bottom: 1px solid #2557a7;
  border-top-right-radius:50px;
  border-left: 20px solid #f27f05;
}