@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif; 
  width: 100wh;
  background-color: #edeaea;
}

:root {
  --background-color-light: #fff;
  --background-color-dark: #282c34;
  --text-color-light: #000;
  --text-color-dark: #fff;
}

.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  transition: ease-out 1s;
}

.light-mode {
  transition: ease-out 1s;
}

.dark-mode .theme-switcher-btn:hover .theme-icon {
  stroke: #efe33e;
  transition: ease-out 1s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.placeholder {
  color: black;
}
