@media (max-width: 1200px) {
  .theme-icon {
    margin-top: -10px;
    margin-left: -15px;
  }
}

@media (max-width: 1000px) {
  
}

@media (max-width: 768px) {
  .Jobchasetitle {
    color: red;
  }
  .theme-icon {
    margin-top: -40px;
    margin-left: -15px;
  }

  h2 {
    font-size: 0.6rem;
  }
}

@media (max-width: 570px) {
  h2 {
    font-size: 0.6rem;
  }
  
  p {
    font-size: 0.6rem;
  }
  .theme-icon {
    margin-top: -40px;
    margin-left: -15px;
  }
}

@media (max-width: 380px) {

}