.searchcontainer {
  display: flex;
  align-items: center;
  position: relative;
  left: 10%;
  padding: 2rem;
}

.searchinput {
  position: relative;
  width: 76%;
  height: 2.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  padding-left: 45px;
  font-size: 1.2rem;
}

.searchbtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  background-color: #2557a7;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

.searchbtn:hover {
  background: radial-gradient(circle, #36d1dc, #5b86e5);
}

.searchicon {
  position: absolute;
  font-size: 1.5rem;
  color: black;
  background-color: orange;
  padding: 8px;
  border-radius: 50%;
}

.searchSuggestionsList {
  position: absolute;
  top: 70%;  
  left: 2;
  width: 73.7%;
  height: 10rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15); 
  border-radius: 5px; 
  overflow-y: auto; 
  z-index: 10;
  font-size: 1rem;
}

.searchSuggestionsList li {
  padding: 10px 20px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.searchSuggestionsList li:hover {
  background-color: #f1f1f1;
}

.searchSuggestionsList li:not(:last-child) {
  border-bottom: 1px solid #e1e1e1; 
}


@media (max-width: 900px) {
  .searchcontainer {
    margin-right: 100px;
  }

  .searchbtn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 2rem;
    width: 3rem;
    background-color: #2557a7;
    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .searchicon {
    font-size: 1rem;
  }
  
  .searchinput {
    width: 76%;
    height: 2rem;
    padding-left: 34px;
    font-size: 0.5rem;
  }

  .searchSuggestionsList {
    font-size: 0.5rem;
  }
}