.Navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   background: linear-gradient(45deg, #feb47b, #c43f1e); */
  border-bottom-right-radius: 50px;
  top: 0;
  z-index: 1;
}

.logoImage {
  width: 150px;
}

.Navbuttons {
  display: flex;
}

.Navfavicon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 1.5rem;
}

.Navfaviconame {
  font-size: 0.8rem;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .Jobchasertitle {
    font-size: 2rem;
    margin-left: -50px;
  }

  .Navfavicon {
    font-size: 1.3rem;
  }
  .Navfaviconame {
    font-size: 0.6rem;
  }
}

@media (max-width: 570px) {
  .Jobchasertitle {
    font-size: 1.5rem;
  }
}
