.signupformspan {
  display: block;
  margin: 5px auto;
}

.signupformsbutton {
  margin-top: 8px;
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #2557a7;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.signupformsbutton:hover {
  background: radial-gradient(circle, #36d1dc, #5b86e5);
  color: black;
}

.signupformslink, .signupformslink:visited, .signupformslink:hover, .signupformslink:active {
  text-decoration: none; 
  color: inherit;
}