
.container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  min-height: 100vh;
}

.signUpForm {
  margin-top: 200px; 
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: 350px;
  align-self: center; 
}

.title {
  font-weight: 200;
}

.light {
  background: linear-gradient(45deg, #2f7bdf, #eda36a);
  color: #fff;
}

.dark {
  background: linear-gradient(45deg, #2f7bdf, #eda36a); 
  color: #fff; 
}

